In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('heart.csv')
df.head(7)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,1,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0

In [7]:
df.shape

(50, 12)

In [8]:
print(df.isna().sum())

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [9]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,1,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0
10,37,F,NAP,130,211,0,Normal,142,N,0.0,Up,0
11,58,M,ATA,136,164,1,ST,99,Y,2.0,Flat,1
12,39,M,ATA,120,204,0,Normal,145,N,0.0,Up,0
13,49,M,ASY,140,234,0,Normal,140,Y,1.0,Flat,1
14,42,F,NAP,115,211,0,ST,137,N,0.0,Up,0
15,54,F,ATA,120,273,0,Normal,150,N,1.5,Flat,0
16,38,M,ASY,110,196,0,Normal,166,N,0.0,Flat,1
17,43,F,ATA,120,201,0,Normal,165,N,0.0,Up,0
18,60,M,ASY,100,248,0,Normal,125,N,1.0,Flat,1
19,36,M,ATA,120,267,0,Normal,160,N,3.0,Flat,1
20,43,F,TA,100,223,0,Normal,142,N,0.0,Up,0
21,44,M,ATA,120,184,1,Normal,142,N,1.0,Flat,0
22,49,F,ATA,124,201,0,Normal,164,N,0.0,Up,0
23,44,M,ATA,150,288,0,Normal,150,Y,3.0,Flat,1
24,40,M,NAP,130,215,0,Normal,138,N,0.0,Up,0
25,36,M,NAP,130,209,0,Normal,178,N,0.0,Up,0
26,53,M,ASY,124,260,0,ST,112,Y,3.0,Flat,0
27,52,M,ATA,120,284,0,Normal,118,N,0.0,Up,0
28,53,F,ATA,113,468,0,Normal,127,N,0.0,Up,0
29,51,M,ATA,125,188,0,Normal,145,N,0.0,Up,0
30,53,M,NAP,145,518,0,Normal,130,N,0.0,Flat,1
31,56,M,NAP,130,167,0,Normal,114,N,0.0,Up,0
32,54,M,ASY,125,224,0,Normal,122,N,2.0,Flat,1
33,41,M,ASY,130,172,0,ST,130,N,2.0,Flat,1
34,43,F,ATA,150,186,0,Normal,154,N,0.0,Up,0
35,32,M,ATA,125,254,0,Normal,155,N,0.0,Up,0
36,65,M,ASY,140,306,1,Normal,87,Y,1.5,Flat,1
37,41,F,ATA,110,250,0,ST,142,N,0.0,Up,0
38,48,F,ATA,120,177,1,ST,148,N,0.0,Up,0
39,48,F,ASY,150,227,0,Normal,130,Y,1.0,Flat,0
40,54,F,ATA,150,230,0,Normal,130,N,0.0,Up,0
41,54,F,NAP,130,294,0,ST,100,Y,0.0,Flat,1
42,35,M,ATA,150,264,0,Normal,168,N,0.0,Up,0
43,52,M,NAP,140,259,0,ST,170,N,0.0,Up,0
44,43,M,ASY,120,175,1,Normal,120,Y,1.0,Flat,1
45,59,M,NAP,130,318,0,Normal,120,Y,1.0,Flat,0
46,37,M,ASY,120,223,0,Normal,168,N,0.0,Up,0
47,50,M,ATA,140,216,0,Normal,170,N,0.0,Up,0
48,36,M,NAP,112,340,0,ST,184,N,1.0,Flat,0
49,41,M,ASY,110,289,0,Normal,170,N,0.0,Flat,1

In [10]:
df['Gender'] = df['Sex'].map({'M': 1, 'F':0})
df['ExerciseAngina_Encoded'] = df['ExerciseAngina'].map({'Y': 1, 'N': 0})
df['ST_Slope_Encoded'] = df['ST_Slope'].map({'Up': 1, 'Flat': 0})
df['RestingECG_Encoded'] = df['RestingECG'].map({'Normal': 1, 'ST': 0})
df.head(7)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Gender,ExerciseAngina_Encoded,ST_Slope_Encoded,RestingECG_Encoded
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1,0,1,1
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,0,0,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1,0,1,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0,1,0,1
4,54,M,NAP,150,195,1,Normal,122,N,0.0,Up,0,1,0,1,1
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0,1,0,1,1
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0,0,0,1,1

In [11]:
cols = list(df.columns)

cols.remove('Gender')
sex_idx = cols.index('Sex')
cols.insert(sex_idx + 1, 'Gender')

cols.remove('ExerciseAngina_Encoded')
ExerciseAngina_idx = cols.index('ExerciseAngina')
cols.insert(ExerciseAngina_idx + 1, 'ExerciseAngina_Encoded')

cols.remove('ST_Slope_Encoded')
ST_Slope_idx = cols.index('ST_Slope')
cols.insert(ST_Slope_idx + 1, 'ST_Slope_Encoded')

cols.remove('RestingECG_Encoded')
RestingECG_idx = cols.index('RestingECG')
cols.insert(RestingECG_idx + 1, 'RestingECG_Encoded')

df = df[cols]

df.head(7)

,Age,Sex,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,RestingECG_Encoded,MaxHR,ExerciseAngina,ExerciseAngina_Encoded,Oldpeak,ST_Slope,ST_Slope_Encoded,HeartDisease
0,40,M,1,ATA,140,289,0,Normal,1,172,N,0,0.0,Up,1,0
1,49,F,0,NAP,160,180,0,Normal,1,156,N,0,1.0,Flat,0,1
2,37,M,1,ATA,130,283,0,ST,0,98,N,0,0.0,Up,1,0
3,48,F,0,ASY,138,214,0,Normal,1,108,Y,1,1.5,Flat,0,1
4,54,M,1,NAP,150,195,1,Normal,1,122,N,0,0.0,Up,1,0
5,39,M,1,NAP,120,339,0,Normal,1,170,N,0,0.0,Up,1,0
6,45,F,0,ATA,130,237,0,Normal,1,170,N,0,0.0,Up,1,0